body.login-page {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.card {
  background: white;
  padding: 40px 30px;
  width: 330px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: #4e73df;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(78,115,223,0.6);
}

#error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}